* {
    box-sizing: border-box;
  }

.card-login {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2); /* Màu nền trong suốt */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-primary-hover:hover {
    color: white;
    transition: color 0.25s ease;
}

.input-text-hover:hover {
    border-color: rgb(0, 0, 0, 0.2);
    transition: border 0.5s ease;
}